* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Georgia, 'Times New Roman', Times, serif";
  background-color: #ffffff;
  font-size: 1rem;
  padding: 1rem 1.3rem 1.5rem;
  padding: 15px;
}

.pics {
  width: 50%;
  border-radius: 100%;
  border: 10px solid whitesmoke;
}

.contactInfo {
  font-style: italic;
  line-height: 20px;
  font-size: 12px;
}

.fullName {
  color: #5db6d6;
}

main {
  line-height: 30px;
}

span .cv--span {
  margin-top: 3px;
  cursor: pointer;
}

/* SOCIALS  */
section.socials {
  padding: 0.5rem 0;
}

.fa {
  padding: 0.3rem 0.5rem 0 0;
  font-size: 0.8rem;
  text-decoration: none;
}

.fa-github {
  color: black;
}

.fa-twitter {
  color: #00acee;
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-whatsapp {
  color: yellowgreen;
}

.fa:hover {
  opacity: 0.8;
}

/* LANGUAGES  */
section.languages {
  padding-top: 10px;
}

/* MEDIA QUERY */

/* MEDIUM SCREENS */
@media screen and (max-width: 768px) {
  .header section.contact {
    width: 50%;
    margin: 0.3rem 0 0 20rem;
    padding: 0 0 0 20px;
    float: right;
  }

  .pics {
    width: 50%;
    border-radius: 100%;
    border: 10px solid whitesmoke;
  }
}

@media screen and (min-width: 769px) {
  header .contact {
    position: absolute;
    right: 0;
    width: 20%;
    line-height: 2rem;
    margin: 1rem 0;
    padding: 0 1rem 0;
    border-right: 5px solid #5db6d6;
  }

  section {
    padding: 0.5rem 0;
  }

  .first-main-section,
  .second-main-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .first-main-section {
    width: 90%;
  }

  .first-main-section > div,
  .second-main-section {
    padding: 10px;
  }

  .summary,
  .skills {
    width: 50%;
  }
}
