* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Georgia, 'Times New Roman', Times, serif";
  background-color: #ffffff;
  font-size: 1.2rem;
  padding: 1rem 1.3rem 1.5rem ;
} 

.contact {
  float: right;
  margin-left: 11rem;
  padding: 0 0 2rem;
  line-height: 1.7rem;
}

.pics{
  width: 40%;
  border-radius: 100%;
  border: 5px solid whitesmoke;
}

main{
  line-height: 30px;
  padding: 0 .5rem;
}

.fullName {
  color: #5db6d6;
}

.contactInfo {
  font-style: italic;
  line-height: 30px;
}

/* SOCIALS  */

section.socials{
  padding: 1.5rem 0;
}

section.socials .fa{
  padding: .5rem 5px;
  font-size: 1.5rem;
}

.fa-github{
  color: black;
}

.fa-twitter{
  color: #00acee;
}

.fa-linkedin{
  color: #0e76a8;
}

.fa:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  body {
    padding: 1rem 2rem ;
  } 

  .contact {
    float: left;
    line-height: 1.7rem;
    padding-right: 1rem ;
    padding-top: 3rem;
    margin-left: -1.2rem;
  }

  .aboutSandra {
    position: absolute;
    border-left: 1.5px solid black;
    left: 32%;
    padding: 1rem 1rem 1rem 2rem;
  }
}

@media (min-width: 1000px) {
  body {
    padding: 1rem 2rem ;
  } 

  .contact {
    float: left;
    line-height: 1.7rem;
    padding-right: 1rem ;
    padding-top: 3rem;
  }

  .aboutSandra {
    position: absolute;
    border-left: 1.5px solid black;
    left: 31%;
    padding: 1rem 1rem 1rem 2rem;
  }
}